<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="integration testing with wiremock">
    <listeners>
        <listener class-name="api.core.tests.TestListener"/>
    </listeners>
    <test name="api.WiremockTest">
    <classes>
        <class name="api.WiremockTest"></class>
    </classes>
    </test>
</suite>
